<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h2>Login</h2>
    
    <!-- Custom Login Form -->
    <form action="/login1" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
      
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <button type="submit">Login</button>
    </form>
    
    <hr>
    
    <!-- OAuth 2.0 Sign-in Buttons -->
    <h3>Sign in with:</h3>
    
    <!-- Google Sign-in Button -->
    <a href="/oauth2/authorization/google">
        <img src="https://developers.google.com/identity/images/btn_google_signin_light_normal_web.png" alt="Sign in with Google" width="120">
    </a>
    
    <br><br>
    
    <!-- Facebook Sign-in Button -->
    <a href="/oauth2/authorization/facebook">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Sign in with Facebook" width="20">
    </a>
</body>
</html>
